html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100dvh;
}

.layout {
    flex: 1;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}